

<body>
    <main>
        <span><h1>À propos de moi</h1></span>
      </main>
      <hr>
    <div class="container">
        <h2>
            Informations
        </h2>
        <hr>
        <p>
            Nom et prénom : Yassir Chirawi <br>
            Date de naissance : 25/10/1999 <br>
            Email : yasschirawi11@gmail.com <br>
            Tel : +33605741054 <br>
            Adresse : Créteil , France <br>
            Langue : Français , Anglais , Arabe<br>
        </p>
    
    </div>
    <hr>
    <div class="container">
        <p>
            Dès jeune âge , j’étais toujours motivé et plein d’ambition cherchant de nouveaux challenges et relevant de nouveaux défis , soit en explorant des opportunités uniques , ou en découvrant des milieux différents . Cet envie permanente de la découverte , me pousse à chercher de sortir de ma zone de confort pour apprendre de nouvelles choses , acquérir de nouvelles aptitudes et se découvrir.
        </p>
        <hr>
        <p>
            Cela s’applique parfaitement au niveau professionnel , en effet Je suis quelqu'un de très passionné par les évolutions que connaît le monde digital , ce qui m'a permis
de travailler ma capacité d'adaptation et de réflexion peu importe le domaine de travail .

        </p>
        <p>
            Pour en découvrir plus à propos de moi , n’hésiter pas à me contacter , je serai ravi de vous répondre .   
        </p>
    </div>
    <div class="bouton2">
        <a href="/contact">Contactez moi</a>
      </div>
</body>


