  
 
  <div class="move-background center">
    <div class="words">
  <span>Y</span>
  <span>A</span>
  <span>S</span>
  <span>S</span>
  <span>I</span>
  <span>R C</span>
  <span>H</span>
  <span>I</span>
  <span>R</span>
  <span>A</span>
  <span>W</span>
  <span>I</span>
    </div>
    <div class="image">
      <img src ="./assets/geneve100.jpeg" >
    </div>
  <div class="statut">
   <span>Etudiant ingénieur informatique</span>
  </div>
  <div class="boutons">  <div class ="bouton1">
    <a href="src/assets/CV Chirawi.pdf" download="CV Chirawi.pdf">Télecharger CV</a>
    
    

  </div>
  <div class="bouton2">
    <a href="/contact">Hire me</a>
  </div>
  </div>
 
  </div>
  
  

      
