<div class="titre">
  <a>
    <span><h1>Centres d'interet</h1></span>
  </a>
  </div>



<div class="sport">
  <div
       class="sport__image">
    
    <div class="sport__info sport__location">Le sport , mon premier centre d’intérêt <br> dont je consacre une partie importante <br>dans  mes plannings .<br> Le développement du sens collectif ,<br> la créativité , le dépassement de soi , <br>la force mental, l’unes des différentes <br>qualités acquises grâce à la pratique<br> des sports collectifs et individuels , <br>purement physiques et cérébraux  . </div>

  </div>
</div>

<div class="music">
  <div
       class="music__image">
    
    <div class="music__info music__location">Geneva Lake Switzerland </div>

  </div>
</div>

<div class="cinema">
  <div
       class="cinema__image">
    
    <div class="cinema__info cinema__location">Geneva Lake Switzerland </div>

  </div>
</div>
